<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="icon" type="image/x-icon" href="assets/images/PBioEsfera.png">
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/404.css" />
  </head>
  <body>
    <header>
      <a href=""><img src="assets\images\LOGO.png" alt="" /></a>
      <nav>
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="404.html">Conquistas</a></li>
          <li><a href="conteudos.html">Conteúdos</a></li>
          <li><a href="jornada.html">Jornada</a></li>
          <li><a href="404.html">Meu perfil</a></li>
          <li><a href=" Sobrenos.html">Sobre nós</a></li>
        </ul>
      </nav>
      <div id="btnsH">
        <button id="Btn1">Cadastre-se</button>
        <button id="Btn2">Entrar</button>
      </div>
    </header>

    <main>
      <div>
        <img src="assets\images\RabanetoBuriti.gif" alt="" />
        <p id="p1">Esta página ainda não existe.</p>
        <p id="p2">
          O nosso site está em desenvolvimento, então algumas páginas não foram
          criadas.
        </p>
      </div>
    </main>
    <script src="javascript\btnCadastro.js"></script>
  </body>
</html>
