{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/PBioEsfera.png' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
  </head>
  <body>
    <header>
      <a href="{% url 'index' %}">Voltar</a>
    </header>
    <main>
      <div class="container">
        <h1>Cadastrar</h1>

        <form method="POST" id="cadastrarForm">
          {% csrf_token %}
          <div class="linha">
              <div class="label-input" style="flex:5;">
                <label for="username">nome de usuario*:</label>
                <input type="text" name="username" id="username" class="textInput" maxlength="11" value="{{ user.username }}" required>
                {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors.0 }}
                    </div>
                {% endif %}
              </div>
              <div class="label-input" style="flex:5;">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" class="textInput" value="{{ user.email }}" required>
                {% if form.email.errors %}
                    <div class="text-danger">
                        {{ form.email.errors.0 }}
                    </div>
                {% endif %}
            </div>
          </div>
                    
          <div class="linha">
            <div class="label-input" style="flex:5;">
                <label class="label_idade" for="idade">Idade:</label>
                <input type="text" name="idade" id="idade" class="textInput" value="{{ user.idade }}">
                {% if form.idade.errors %}
                    <div class="text-danger">
                        {{ form.idade.errors.0 }}
                    </div>
                {% endif %}
            </div>
            <div class="linha_2">
              <div class="label-input-sexo" style="flex:5;">
                  <label id="label_sexo" for="sexo">Sexo:</label>
                  <select id="id_sexo" name="sexo">
                    {% for value, display in form.sexo.field.choices %}
                      <option value="{{ value }}" {% if user.sexo == value %}selected{% endif %}>{{ display }}</option>
                    {% endfor %}
                  </select>
                  {% if form.sexo.errors %}
                      <div class="text-danger">
                          {{ form.sexo.errors.0 }}
                      </div>
                  {% endif %}
              </div>
            </div>
            <button type="submit" class="button_submit">Registrar</button>
          </div>
        </form>
      </div>
    </main>
    <script src="{% static 'javascript/btnVoltar.js' %}"></script>
    <script src="{% static 'javascript/submeter_cadastro.js' %}"></script>
  </body>
</html>
