<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link rel="icon" type="image/x-icon" href="assets/images/PBioEsfera.png">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css\cadastro.css" />
  </head>
  <body>
    <header>
      <button id="BtnV">Voltar</button>
    </header>
    <main>
      <div class="container">
        <h1>Cadastrar</h1>
        <form id="cadastrarForm">
          <div class="linha">
            <div class="label-input" style="flex: 5;">
              <label for="nome">Nome*:</label>
              <input
                type="text"
                id="nome"
                required
                placeholder="BioEsfera"
                class="textInput"
              />
            </div>
            <div class="label-input" style="flex:5;">
              <label for="username">Username*:</label>
              <input
                type="text"
                id="username"
                required
                placeholder="Bioe1"
                class="textInput"
              />
            </div>
          </div>
          <div class="linha">
            <div class="label-input" style="flex: 5;">
              <label for="email">Email*:</label>
              <input
                type="email"
                id="email"
                required
                placeholder="exemplo@gmail.com"
                class="textInput"
              />
            </div>
            
            <div class="label-input" style="flex: 1;">

              <label for="idade">Idade:</label>
              <input
                type="number"
                id="idade"
                name="idade"
                min="10"
                max="120"
                placeholder="10"
                class="textInput"
              />
            </div>
            <div class="label-input" style="flex: 4;">
              <label for="Tipoacesso">Você é:</label>
              <input
                id="Selecionar"
                list="Tipoacesso"
                name="Tipoacesso"
                required
                placeholder="Selecionar"
                class="textInput"
              />
              <datalist id="Tipoacesso">
                <option value="Estudante [ensino fundamental]"></option>
                <option value="Estudante [ensino médio]"></option>
                <option value="Estudante [superior]"></option>
                <option value="Professor"></option>
                <option value="Outro"></option>
              </datalist>
            </div>
          </div>
          <div class="linha">
            <div class="label-input" style="flex: 5;">
              <label for="senha">Senha*:</label>
              <input
                type="text"
                id="senha"
                required
                placeholder="Senha123!"
                class="textInput"
              />
            </div>
            <div class="label-input" style="flex: 2;">
              <label for="Sexo">Sexo:</label>
              <input
                id="Escolher"
                list="Sexo"
                name="Sexo"
                placeholder="Escolher"
              />
              <datalist id="Sexo">
                <option value="Feminino"></option>
                <option value="Masculino"></option>
                <option value="Outro"></option>
              </datalist>
            </div>
            <div class="label-check" style="flex: 3;">
              <label for="termos">Eu concordo com os termos e condições</label>
              <input type="checkbox" id="termos" name="termos" required>
            </div>
          </div>
          <div class="linha">
            <div class="label-input" style="flex: 5;">
              <label for="senha">Confirmar senha*:</label>
              <input
                type="text"
                id="confirmarSenha"
                required
                placeholder="Senha123!"
                class="textInput"
              />
            </div>
              <div class="botoes" style="flex: 5;">
                <button type="submit" class="botao" id="cadastrarBtn">
                  Criar conta
                </button>
                <button type="submit" class="botao">Entrar com Google</button>
              </div>
          </div>
          </div>
        </form>
      </div>
    </main>
    <script src="javascript\btnVoltar.js"></script>
    <script src="javascript\submeter_cadastro.js"></script>
  </body>
</html>
