{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/PBioEsfera.png' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}" />
  </head>
  <body>
    <header>
      <button id="BtnV">Voltar</button>
    </header>
    <main>
      <div class="container">
        <h1>Cadastrar</h1>

        <form method="POST" id="cadastrarForm">
          {% csrf_token %}
          <div class="linha">
            <div class="label-input" style="flex:5;">
                <label for="username">nome de usuario:</label>
                <input type="text" name="username" id="username" class="textInput" maxlength="11" required>
                {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors.0 }}
                    </div>
                {% endif %}
            </div>
          </div>
          <div class="linha">
            <div class="label-input" style="flex:5;">
                <label for="password1">Senha*:</label>
                <input type="password" name="password1" id="password1" class="textInput" required>
                {% if form.password1.errors %}
                    <div class="text-danger">
                        {{ form.password1.errors.0 }}
                    </div>
                {% endif %}
          </div>
          <div class="linha">
            <div class="label-input" style="flex:5;">
                <label for="password2">Confirme a Senha</label>
                <input type="password" name="password2" id="password2" class="textInput" required>
                {% if form.password2.errors %}
                    <div class="text-danger">
                        {{ form.password2.errors.0 }}
                    </div>
                {% endif %}
            </div>
          </div>
          <div class="linha">
            <div class="label-input" style="flex:5;">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" class="textInput" required>
                {% if form.email.errors %}
                    <div class="text-danger">
                        {{ form.email.errors.0 }}
                    </div>
                {% endif %}
            </div>
          </div>
                    
          <div class="linha"></div>
            <div class="label-input" style="flex:5;">
                <label for="idade">Idade</label>
                <input type="text" name="idade" id="idade" class="textInput">
                {% if form.idade.errors %}
                    <div class="text-danger">
                        {{ form.idade.errors.0 }}
                    </div>
                {% endif %}
            </div>
          </div>

          <div class="linha">
            <div class="label-input" style="flex:5;">
                <label for="sexo">Sexo:</label>
                <select id="id_sexo" name="sexo">
                  {% for value, display in form.sexo.field.choices %}
                      <option value="{{ value }}" {% if form.sexo.value == value %}selected {% endif %}>{{ display }}<option>
                  {% endfor %}
                </select>
                {% if form.sexo.errors %}
                    <div class="text-danger">
                        {{ form.sexo.errors.0 }}
                    </div>
                {% endif %}
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Registrar</button>
        </form>
      </div>
    </main>
    <script src="{% static 'javascript/btnVoltar.js' %}"></script>
    <script src="{% static 'javascript/submeter_cadastro.js' %}"></script>
  </body>
</html>
