{% extends 'BioEsfera/base.html'%}
{% load static %}
{% block parte_central %}
  <link rel="stylesheet" href="{% static 'css/conquistas.css' %}" />
  <main>
    <div class="div_borderFoo"><p class="p_medalhas">MEDALHAS</p></div>
    <div class="div_conquistas">
      {% for conquista in conquista %}
        <div class="div_medalhas">
          <img class="img_conquista" src={{conquista.imagem.url}}>
          <p class="p_titulo">{{conquista.titulo}}</p>
          <p class="p_dica">{{conquista.dica}}</p>
        </div>
      {% endfor %}
    </div>
  </main>



{%endblock%}