<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conteudos</title>
    <link rel="icon" type="image/x-icon" href="assets/images/PBioEsfera.png" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/conteudos.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Lexend:wght@700&family=Poppins:wght@500;800&family=Roboto:ital,wght@1,300;1,700&display=swap"
      rel="stylesheet"
    />
    <style>
      #borderFoo {
        margin-top: 0;
      }
    </style>
  </head>

  <body>
    <header>
      <a href=""><img src="assets\images\LOGO.png" alt="" /></a>
      <nav>
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="404.html">Conquistas</a></li>
          <li><a href="conteudos.html">Conteúdos</a></li>
          <li><a href="jornada.html">Jornada</a></li>
          <li><a href="404.html">Meu perfil</a></li>
          <li><a href=" Sobrenos.html">Sobre nós</a></li>
        </ul>
      </nav>
      <div id="btnsH">
        <button id="Btn1">Cadastre-se</button>
        <button id="Btn2">Entrar</button>
      </div>
    </header>
    <main>
      <section>
        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">1- Introdução</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas btn-navegacao" data-destino="aula.html">
            <p class="numeracao">Aula 1.1</p>
            <p class="titulinho">Introdução à Biologia</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">2- Sucessão ecológica</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 2.1</p>
            <p class="titulinho">O que é sucessão ecológica</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 2.2</p>
            <p class="titulinho">Sucessão primária</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 2.3</p>
            <p class="titulinho">Sucessão secundária</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 2.4</p>
            <p class="titulinho">Fases da sucessão ecológica</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">3- Ciclo do nitrogênio</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 3.1</p>
            <p class="titulinho">O que é o ciclo do nitrogênio</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 3.2</p>
            <p class="titulinho">Reações do ciclo do nitrogênio</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">4- Água</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 4.1</p>
            <p class="titulinho">A importância da água</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 4.2</p>
            <p class="titulinho">Características da água</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">5- Fotossíntese</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 5.1</p>
            <p class="titulinho">O que é Fotossíntese</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 5.2</p>
            <p class="titulinho">Reações dependentes da luz</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 5.3</p>
            <p class="titulinho">Ciclo de Calvin</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 5.4</p>
            <p class="titulinho">plantas C3, C4 e CAM</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 5.5</p>
            <p class="titulinho">Respiração celular</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">6- Células</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 6.1</p>
            <p class="titulinho">Introdução a células</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 6.2</p>
            <p class="titulinho">Estrutura celular</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 6.3</p>
            <p class="titulinho">Membrana celular</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 6.4</p>
            <p class="titulinho">Procariotas e eucariotas</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 6.5</p>
            <p class="titulinho">Célula animal e vegetal</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">7- DNA e RNA</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 7.1</p>
            <p class="titulinho">O que é o DNA</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 7.2</p>
            <p class="titulinho">Como é formado o DNA</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 7.3</p>
            <p class="titulinho">O que é RNA</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 7.4</p>
            <p class="titulinho">Como é formado o RNA</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 7.5</p>
            <p class="titulinho">Tipos de RNA</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">8- Reprodução e divisão celular</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 8.1</p>
            <p class="titulinho">Tipos de reprodução</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 8.2</p>
            <p class="titulinho">Cromossomos</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 8.3</p>
            <p class="titulinho">Ciclo celular e mitose</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 8.4</p>
            <p class="titulinho">Meiose</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">9- Os grandes reinos</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 9.1</p>
            <p class="titulinho">Taxonomia</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 9.2</p>
            <p class="titulinho">Archaea e bactéria</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 9.3</p>
            <p class="titulinho">Protista</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 9.4</p>
            <p class="titulinho">Fungi</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 9.5</p>
            <p class="titulinho">Vírus</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">10- Reino das plantae</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 10.1</p>
            <p class="titulinho">Briófitas e pteridófitas</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 10.2</p>
            <p class="titulinho">Gimnospermas e angiospermas</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 10.3</p>
            <p class="titulinho">Reprodução das plantas</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">11- Reino animalia</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 11.1</p>
            <p class="titulinho">Invertebrados</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 11.2</p>
            <p class="titulinho">Invertebrados superiores e vertebrados</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 11.3</p>
            <p class="titulinho">Metabolismo e comportamento</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">12- Relações ecológicas</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 12.1</p>
            <p class="titulinho">
              Tipos de relações ecológicas (intraespecíficas e interespecíficas)
            </p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 12.2</p>
            <p class="titulinho">
              Relações interespecíficas (positivas ou negativas)
            </p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">13- Teias alimentares</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 13.1</p>
            <p class="titulinho">O que é uma teia alimentar</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 13.2</p>
            <p class="titulinho">A circulação e perda de energia</p>
          </button>
        </div>

        <div class="espaçamento">
          <div class="inicio"></div>
          <p class="letreiros">14- Evolução</p>
          <div class="fim"></div>
        </div>
        <div class="regiaoAulas">
          <button class="aulas">
            <p class="numeracao">Aula 14.1</p>
            <p class="titulinho">Evolução e seleção natural</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 14.2</p>
            <p class="titulinho">Evidências da evolução</p>
          </button>
          <button class="aulas">
            <p class="numeracao">Aula 14.3</p>
            <p class="titulinho">Filogenia</p>
          </button>
        </div>
      </section>
    </main>
    <footer>
      <div id="borderFoo">
        <img src="assets\images\LOGO2.png" alt="" />
      </div>
      <div id="listFoo">
        <ul>
          <li><a href="Sobrenos.html">Sobre nós</a></li>
          <li><a href="">Contatos</a></li>
          <li><a href="Mailto:feedbackobioesfera@gmail.com">Feedback</a></li>
          <li><a href="">Sobre Projeto</a></li>
          <li><a href="">Redes Sociais</a></li>
        </ul>
      </div>
    </footer>
    <script src="javascript/botao_navegar.js"></script>
  </body>
</html>
