{% extends 'BioEsfera/base.html'%}
{% load static %}
{% block parte_central %}
    <link rel="stylesheet" href="{% static 'css/jornada.css' %}" />
    <main>
      {% for jogo in jogos %}
        <div id="jornada">
          <img src="{% static 'images/trilha_reta.png' %}" alt="" id="trilha" />
          <button class="botaoComImagem" id="botaoFase{{ forloop.counter0 }}">
            <img src="{% static 'images/fase.png' %}" alt="" />
          </button>
          <div id="modal{{ forloop.counter0 }}" class="modal" style="display: none;">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>{{ jogo.titulo }}</h2>
              <img src="{{jogo.imagem.url}}" class="img_logo">
              <p>{{ jogo.descricao }}</p>
              <div id="plays">
                <section>
                  <button class="botaoComImagem btn-navegacao" data-destino="{% url 'jogos' jogo.id %}">
                    <img src="{% static 'SVG/playBtn.svg' %}" alt="" class="play" />
                  </button>
                  <p>Jogo</p>
                </section>
              </div>
            </div>
          </div>
          <img src="{% static 'SVG/arbusto3.svg' %}" alt="" id="arbusto1" class="arbusto" />
          <img src="{% static 'SVG/arbusto2.svg' %}" alt="" id="arbusto2" class="arbusto" />
          <img src="{% static 'SVG/arbusto1.svg' %}" alt="" class="arbusto" id="arbusto3" />
        </div>
      {% endfor %}
    </main>
    <script src="{% static 'javascript/btnCadastro.js' %}"></script>
    <script src="{% static 'javascript/ativarModal.js' %}"></script>
    <script src="{% static 'javascript/botao_navegar.js' %}"></script>
{% endblock %}


