{% extends 'BioEsfera/base.html'%}
{% load static %}
{% block parte_central %}
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
  <script>
    function atualizarConquistaUsuario(conquistaId) {
        let username = "{{ user.username }}";  // Obtém o nome de usuário do contexto

        $.ajax({
            url: `/atualizar_conquista_usuario/${conquistaId}/`,
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: JSON.stringify({ username: username }),
            contentType: 'application/json',
            success: function(response) {
                if (response.status === 'success') {
                    location.reload();  // Recarregar a página após o sucesso
                } else {
                    alert('Falha ao atualizar a conquista do usuário.');
                }
            },
            error: function() {
                alert('Erro ao fazer a requisição.');
            }
        });
    }

    $(document).ready(function() {
        showAvatar(currentIndex);
    });
  </script>
  <script>
      let currentIndex = 0;
      let avatarIds = {{ avatar_ids|safe }};
      let avatarUrls = {{ avatar_urls|safe }};
      let backgroundColors = ["rgb(151, 154, 43)","rgb(186, 95, 4)"];  // Array de cores

      function showAvatar(index) {
          $('#avatar-img').attr('src', avatarUrls[index]);
          $('#avatar-img').data('id', avatarIds[index]);
          $('.div_avatar').css('background-color', backgroundColors[index]);  // Atualiza a cor de fundo
      }

      function prevAvatar() {
          currentIndex = (currentIndex - 1 + avatarIds.length) % avatarIds.length;
          showAvatar(currentIndex);
      }

      function nextAvatar() {
          currentIndex = (currentIndex + 1) % avatarIds.length;
          showAvatar(currentIndex);
      }

      function updateAvatar() {
          let avatarId = $('#avatar-img').data('id');
          $.ajax({
              url: `/atualizar_avatar/${avatarId}/`,
              type: 'POST',
              headers: {
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              success: function(response) {
                  if (response.status === 'success') {
                      location.reload();  // Recarregar a página após o sucesso
                  } else {
                      alert('Falha ao atualizar o avatar.');
                  }
              },
              error: function() {
                  alert('Erro ao fazer a requisição.');
              }
          });
      }

      $(document).ready(function() {
          showAvatar(currentIndex);
      });
  </script>


  <main>
    <div class="div_main">
      <div class="div_plano_de_fundo"><img src="{% static 'images/Background.png' %}"></div>
      <div class="div_sombra"></div>
    </div>
    <div class="div_central">

      <div class="div_cabecalho">
        <div class="div_img">
          <img src={{user.avatar.url}} class="img_local">
        
        </div>
        <div class="div_dados">
          <div class="div_titulo">
            <p class="p_titulo">{{user.titulo_conquista}}</p>
          </div>
          <p class="p_nome">{{user.username}}</p>
          <p class="p_nome_real">{{user.nome}}</p>
          <p class="p_email">{{user.email}}</p>
        </div>
        <div class="div_modificar">
          <form action="{% url 'delete_user' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="border: none; background: none; padding: 0;">
                <img src="{% static 'images/lixeira.png' %}" alt="Deletar Usuário" class="imagem_lixeira" />
            </button>
          </form>        
          <div class="div_atualizar"><a href="{% url 'atualizar_dados'%}" class="a_atualizar">ATUALIZAR</a></div>
          <div class="div_sair"><a href="{% url 'logout'%}" class="a_sair">SAIR</a></div>
        </div>
      </div>

      <div class="div_borderFoo"></div>

      <div class="div_informacoes">
        <p class="p_informacoes">Informações</p>
        <div class="div_conquistas">
          <div class="div_conquistas_cabecalho">
            <img class="img_conquistas" src="{% static 'images/imagem_conquistas.png' %}">
            <p class="p_conquistas">Conquistas:</p>
            <div class="div_medalhas">
              {% for conquista_usuario in conquistas %}
                <img src={{conquista_usuario.conquista.imagem.url}} class="img_medalha" alt="{{ conquista_usuario.conquista.titulo }}" onclick="atualizarConquistaUsuario({{ conquista_usuario.conquista.id }});">
              {% endfor %}
            </div>
            <div class="div_paginacao">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a class= "a_ceta" href="?page={{ page_obj.previous_page_number }}"><</a>
                  {% endif %}
  
                  <span class="current">
                      {{ page_obj.number }}
                  </span>
  
                  {% if page_obj.has_next %}
                      <a class= "a_ceta" href="?page={{ page_obj.next_page_number }}">></a>
                  {% endif %}
              </span>
            </div>
          </div>
        </div>
        <div class="div_inferior">
          <div class="div_conquista_descricao">
            <p class="p_conquista_descricao">{{ user.descricao_conquista }}</p>
          </div>
          <div class="div_avatar">
            <img class="img_anterior" alt="Anterior" src="{% static 'images/ceta_anterior.png' %}" onclick="prevAvatar()">
            <img id="avatar-img" class="img_avatar" alt="Atualizar Avatar" data-id="" src="{% static 'images/cebolo_avatar.png' %}" onclick="updateAvatar()">
            <img class="img_posterior" alt="Próximo" src="{% static 'images/ceta_posterior.png'%}" onclick="nextAvatar()">
          </div>
        </div>

      </div>
    </div>
  </main>
{%endblock%}